<section id="gallery" class="section gallery-section">
    <div class="container">
        <h2 class="section-title">Gallery</h2>
        <div class="swiper gallery-swiper">
            <ul class="swiper-wrapper gallery-list">
                <li class="swiper-slide">
                    <div class="wrapper-picture">
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider1car1@2x.jpg 2x,
                                    ../img/gallery/mob/slider1car1.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider1car1@2x.jpg 2x,
                                    ../img/gallery/desktop/slider1car1.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slder1car1.jpg"
                                alt="Gallery image 2"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider1car2@2x.jpg 2x,
                                    ../img/gallery/mob/slider1car2.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider1card2@2x.jpg 2x,
                                    ../img/gallery/desktop/slider1card2.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider1car2.jpg"
                                alt="Gallery image 2"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider1car3@2x.jpg 2x,
                                    ../img/gallery/mob/slider1car3.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider1card3@2x.jpg 2x,
                                    ../img/gallery/desktop/slider1card3.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider1car3.jpg"
                                alt="Gallery image 1"
                            />
                        </picture>
                    </div>
                </li>

                <li class="swiper-slide">
                    <div class="wrapper-picture">
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider2card1@2x.jpg 2x,
                                    ../img/gallery/mob/slider2card1.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider2card1@2x.jpg 2x,
                                    ../img/gallery/desktop/slider2card1.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider2card1.jpg"
                                alt="Gallery image 2"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider2card2@2x.jpg 2x,
                                    ../img/gallery/mob/slider2card2.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider2card2@2x.jpg 2x,
                                    ../img/gallery/desktop/slider2card2.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider2card2.jpg"
                                alt="Gallery image 2"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider2card3@2x.jpg 2x,
                                    ../img/gallery/mob/slider2card3.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider2card3@2x.jpg 2x,
                                    ../img/gallery/desktop/slider2card3.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider2card3.jpg"
                                alt="Gallery image 2"
                            />
                        </picture>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="wrapper-picture">
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider3car1@2x.jpg 2x,
                                    ../img/gallery/mob/slider3car1.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider3card1@2x.jpg 2x,
                                    ../img/gallery/desktop/slider3card1.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider3car1.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider3car2@2x.jpg 2x,
                                    ../img/gallery/mob/slider3car2.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider3card2@2x.jpg 2x,
                                    ../img/gallery/desktop/slider3card2.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider3car2.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider3car3@2x.jpg 2x,
                                    ../img/gallery/mob/slider3car3.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider3card3@2x.jpg 2x,
                                    ../img/gallery/desktop/slider3card3.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider3car3.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="wrapper-picture">
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider4car1@2x.jpg 2x,
                                    ../img/gallery/mob/slider4car1.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider4card1@2x.jpg 2x,
                                    ../img/gallery/desktop/slider4card1.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider4car1.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider4car2@2x.jpg 2x,
                                    ../img/gallery/mob/slider4car2.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider4card2@2x.jpg 2x,
                                    ../img/gallery/desktop/slider4card2.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider4car2.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider4car3@2x.jpg 2x,
                                    ../img/gallery/mob/slider4car3.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider4card3@2x.jpg 2x,
                                    ../img/gallery/desktop/slider4card3.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider4car3.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="wrapper-picture">
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider5car1@2x.jpg 2x,
                                    ../img/gallery/mob/slider5car1.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider5card1@2x.jpg 2x,
                                    ../img/gallery/desktop/slider5card1.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider5car1.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider5car2@2x.jpg 2x,
                                    ../img/gallery/mob/slider5car2.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider5card2@2x.jpg 2x,
                                    ../img/gallery/desktop/slider5card2.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider5car2.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider5car3@2x.jpg 2x,
                                    ../img/gallery/mob/slider5car3.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider5card3@2x.jpg 2x,
                                    ../img/gallery/desktop/slider5card3.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider5car3.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="wrapper-picture">
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider6car1@2x.jpg 2x,
                                    ../img/gallery/mob/slider6car1.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider6card1@2x.jpg 2x,
                                    ../img/gallery/desktop/slider6card1.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider6car1.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider6car2@2x.jpg 2x,
                                    ../img/gallery/mob/slider6car2.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider6card2@2x.jpg 2x,
                                    ../img/gallery/desktop/slider6card2.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider6car2.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider6car3@2x.jpg 2x,
                                    ../img/gallery/mob/slider6car3.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider6card3@2x.jpg 2x,
                                    ../img/gallery/desktop/slider6card3.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider6car3.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="wrapper-picture">
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider7car1@2x.jpg 2x,
                                    ../img/gallery/mob/slider7car1.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider7card1@2x.jpg 2x,
                                    ../img/gallery/desktop/slider7card1.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider7car1.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider7car2@2x.jpg 2x,
                                    ../img/gallery/mob/slider7car2.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider7card2@2x.jpg 2x,
                                    ../img/gallery/desktop/slider7card2.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider7car2.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                        <picture>
                            <source
                                srcset="
                                    ../img/gallery/mob/slider7car3@2x.jpg 2x,
                                    ../img/gallery/mob/slider7car3.jpg    1x
                                "
                                media="(max-width: 1199px)"
                            />
                            <source
                                srcset="
                                    ../img/gallery/desktop/slider7card3@2x.jpg 2x,
                                    ../img/gallery/desktop/slider7card3.jpg    1x
                                "
                            />
                            <img
                                src="../img/gallery/mob/slider7car3.jpg"
                                alt="Gallery image 3"
                            />
                        </picture>
                    </div>
                </li>
            </ul>

            <div class="gallery-buttons">
                <button
                    class="gallery-btn-prev"
                    disabled
                    aria-label="Previous slide"
                    type="button"
                ></button>
                <button
                    class="gallery-btn-next"
                    aria-label="Next slide"
                    type="button"
                ></button>
            </div>
        </div>
    </div>
</section>
<script type="module" src="../js/gallery.js"></script>
