<section class="section game-description" data-game-description>
    <div class="container game-description-container">
        <h2 class="section-title game-description-title">Game Description</h2>
        <picture>
            <source
                srcset="
                    /img/game-description/car-desktop@1x.png 1x,
                    /img/game-description/car-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
            />
            <source
                srcset="
                    /img/game-description/car@1x.png 1x,
                    /img/game-description/car@2x.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
            />
            <img
                src="/img/game-description/car@1x.png"
                alt="Logo"
                class="image-game-description"
                width="351"
                height="401"
                loading="lazy"
            />
        </picture>
        <div class="game-description-wrapper">
            <h3 class="game-title">
                Karts Battle throws you into an explosive combat racing
                experience like no other
            </h3>
            <p class="game-text">
                This isn’t your usual race — this is survival on wheels. Equip
                your kart with powerful weapons, use drift skills to dodge and
                attack, and blast your rivals to smithereens. Whether you prefer
                tactical precision or pure destruction, the arena is yours to
                conquer.
            </p>
            <p class="game-text">
                With every drift, every bullet, and every crash, you'll inch
                closer to becoming the ultimate champion. Jump into the arena,
                customize your battle kart, and show them who’s boss!
            </p>
        </div>
    </div>
    <h5 class="game-subtitle">
        Karts Battle – Drift, Destroy, Dominate! &#x1F525;<span
            class="game-subtitle-span"
            >Karts Battle – Drift, Destroy, Dominate!</span
        >
    </h5>
    <div class="marquee-container">
        <div class="marquee-track" data-marquee>
            <span class="marquee-text">Race now</span>
        </div>
    </div>
</section>
