<header class="header" data-header>
    <div class="header-container">
        <picture>
            <source
                srcset="
                    /img/header/header_logo@1x.png 1x,
                    /img/header/header_logo@2x.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
            />
            <source
                srcset="
                    /img/header/header_logo-desktop@1x.png 1x,
                    /img/header/header_logo-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
            />

            <img
                src="/img/header/header_logo@1x.png"
                alt="Logo"
                class="image-header"
                width="60"
                height="60"
                loading="lazy"
            />
        </picture>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#benefits" data-nav-link>Benefits</a>
                </li>
                <li class="nav-item">
                    <a href="#game-description" data-nav-link
                        >Game Description</a
                    >
                </li>
                <li class="nav-item">
                    <a href="#key-features" data-nav-link>Key Features</a>
                </li>
                <li class="nav-item">
                    <a href="#main-characters" data-nav-link>Main Characters</a>
                </li>
                <li class="nav-item">
                    <a href="#gallery" data-nav-link>Gallery</a>
                </li>
                <li class="nav-item">
                    <a href="#reviews" data-nav-link>Reviews</a>
                </li>
            </ul>
        </nav>

        <a
            class="hero-button header-button"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=carts.battle.twisted&hl=en&gl=us"
        >
            Download & Race
        </a>

        <button
            class="header-burger-button"
            type="button"
            aria-label="Menu"
            data-action="open-menu"
        >
            <svg class="header-burger-icon" width="20" height="20">
                <use href="/sprite.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>
<div class="mobile-menu-background" data-menu-background>
    <div class="mobile-menu-wrapper" data-mobile-wrapper>
        <button
            class="mobile-menu-close-button"
            type="button"
            aria-label="Close"
            data-action="close-menu"
        >
            <svg class="mobile-menu-close-icon" width="20" height="20">
                <use href="/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <nav>
            <ul class="mobile-menu-nav-list">
                <li class="mobile-menu-nav-item">
                    <a href="#benefits" data-mobile-link>Benefits</a>
                </li>
                <li class="mobile-menu-nav-item">
                    <a href="#game-description" data-mobile-link
                        >Game Description</a
                    >
                </li>
                <li class="mobile-menu-nav-item">
                    <a href="#key-features" data-mobile-link>Key Features</a>
                </li>
                <li class="mobile-menu-nav-item">
                    <a href="#main-characters" data-mobile-link
                        >Main Characters</a
                    >
                </li>
                <li class="mobile-menu-nav-item">
                    <a href="#gallery" data-mobile-link>Gallery</a>
                </li>
                <li class="mobile-menu-nav-item">
                    <a href="#reviews" data-mobile-link>Reviews</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
