<section class="section hero">
    <div class="container hero-container">
        <div class="hero-wrap">
            <h1 class="hero-title">
                <span class="hero-title-span">Enter</span> the Combat Arena Now!
            </h1>
            <a
                class="hero-button"
                target="_blank"
                href="https://play.google.com/store/apps/details?id=carts.battle.twisted&hl=en&gl=us"
            >
                Download & Race
            </a>
        </div>
    </div>
</section>
