<div class="hero-wrapper">
    <section class="section hero">
        <div class="container hero-container">
            <div class="hero-wrap">
                <div class="hero-ellipse" data-ellipse></div>
                <div class="hero-blur-circle" data-blur-ellipse></div>

                <div class="animated-container" data-animated-hero-title>
                    <h1 class="hero-title">
                        <span class="hero-title-span">Enter</span> the Combat
                        Arena Now!
                    </h1>
                    <a
                        class="hero-button animated-button"
                        target="_blank"
                        href="https://play.google.com/store/apps/details?id=carts.battle.twisted&hl=en&gl=us"
                    >
                        Download & Race
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="hero-arrow"></div>
</div>
