<section class="features-section section" id="key-features">
    <div class="container">
        <div class="features-wrapper">
            <h2 class="features-title">Key Features</h2>
        </div>
        <ul class="features-cards">
            <li class="feature-item">
                <div class="wrapper-weapon">
                    <div class="weapon-card">
                        <img
                            src="/images/mobile/key-features/weapon.png"
                            alt="Weapon"
                            class="weapon-icon"
                        />
                    </div>
                    <div class="maskWeapon-card">
                        <img
                            src="/images/mobile/key-features/maskWeapon.png"
                            alt="Weapon"
                            class="maskWeapon-icon"
                        />
                    </div>
                </div>

                <div class="feature-content">
                    <h3 class="title-weapon">Weapon Systems</h3>
                    <p class="text-weapon">
                        Unlock and upgrade guns, rockets, EMPs, and more to gain
                        the upper hand.
                    </p>
                </div>

                <div class="wrapper-decor">
                    <img
                        class="decor"
                        src="/images/mobile/key-features/decor.svg"
                        alt=""
                    />
                </div>
            </li>
            <li class="feature-item feature-item--double">
                <div class="nitro-card">
                    <div class="wrapper-nitro">
                        <img
                            src="/images/mobile/key-features/nitroNate.png"
                            alt="Weapon"
                            class="nitro-icon"
                        />
                    </div>
                </div>

                <div class="feature-content-wrapper left-text">
                    <div class="feature-content">
                        <h3 class="title-weapon">
                            Arena-Style Multiplayer Battles
                        </h3>
                        <p class="text-weapon">
                            Face off against real players in chaotic racing
                            shootouts.
                        </p>
                    </div>
                </div>
                <div class="feature-content-wrapper right-text">
                    <div class="feature-content">
                        <h3 class="title-weapon">Racer Progression</h3>
                        <p class="text-weapon">
                            Level up, earn achievements, and climb the global
                            leaderboard.
                        </p>
                    </div>
                </div>

                <div class="wrapper-decor">
                    <img
                        class="decor"
                        src="/images/mobile/key-features/decor.svg"
                        alt=""
                    />
                </div>
            </li>
            <li class="feature-item">
                <div class="wrapper-house">
                    <div class="house-card">
                        <img
                            src="/images/mobile/key-features/hause.png"
                            alt="Weapon"
                            class="house-icon"
                        />
                    </div>
                    <div class="yard-card">
                        <img
                            src="/images/mobile/key-features/yeard.png"
                            alt="Weapon"
                            class="yard-icon"
                        />
                    </div>
                </div>
                <div class="feature-content">
                    <h3 class="title-weapon">Unique Battle Arenas</h3>
                    <p class="text-weapon">
                        Race through scrapyards, neon cities, desert warzones,
                        and icy circuits.
                    </p>
                </div>
                <div class="wrapper-decor">
                    <img
                        class="decor"
                        src="/images/mobile/key-features/decor.svg"
                        alt=""
                    />
                </div>
            </li>
            <li class="feature-item feature-item--double">
                <div class="mask-card">
                    <div class="wrapper-mask">
                        <img
                            src="/images/mobile/key-features/maskOffline.png"
                            alt="Weapon"
                            class="mask-icon"
                        />
                    </div>
                </div>
                <div class="feature-content-wrapper left-text">
                    <div class="feature-content">
                        <h3 class="title-weapon mask-decor">
                            Power-Ups & Boosts
                        </h3>
                        <p class="text-weapon">
                            Collect in-match boosts like speed zones, shields,
                            and explosive crates.
                        </p>
                    </div>
                </div>
                <div class="feature-content-wrapper right-text">
                    <div class="feature-content">
                        <h3 class="title-weapon">Offline Practice Mode</h3>
                        <p class="text-weapon">
                            Hone your skills with bots before taking on the
                            world.
                        </p>
                    </div>
                </div>
                <div class="wrapper-decor">
                    <img
                        class="decor"
                        src="/images/mobile/key-features/decor.svg"
                        alt=""
                    />
                </div>
            </li>
            <li class="feature-item">
                <div class="wrappers-nitro">
                    <div class="nitrocar-card">
                        <img
                            src="/images/mobile/key-features/nitrocar.png"
                            alt="Weapon"
                            class="nitrocar-icon"
                        />
                    </div>
                    <div class="car-card">
                        <img
                            src="/images/mobile/key-features/car.png"
                            alt="Weapon"
                            class="car-icon"
                        />
                    </div>
                </div>
                <div class="feature-content">
                    <h3 class="title-weapon">Customization Garage</h3>
                    <p class="text-weapon">
                        Modify everything from armor plating to paint jobs for a
                        truly unique ride.
                    </p>
                </div>
                <div class="wrapper-decor">
                    <img
                        class="decor"
                        src="/images/mobile/key-features/decor.svg"
                        alt=""
                    />
                </div>
            </li>
        </ul>
    </div>
</section>
