<section class="section section-characters" id="main-characters">
  <div class="container">
      <div class="container-characters">
          <h2 class="section-title section-title-characters">
              Main Characters
          </h2>
          <div class="swiper main-characters-swiper">
              <ul class="swiper-wrapper characters-list">
                  <!--slide-1-->
                  <li class="swiper-slide characters-items background-items-1">
                          <div class="characters-image">
                            <picture>
                              <source
                                  srcset="/img/main-characters/characterNitroNatemob@2x.png 2x,
                                  /img/main-characters/characterNitroNatemob.png 1x
                                  "
                                  media="(max-width: 1199px)"
                              />
                              <source
                                  srcset="/img/main-characters/characterNitrodesk@2x.png 2x,
                                  /img/main-characters/characterNitrodesk.png 1x
                                  "
                              />
                              <img
                                  src="/img/main-characters/characterNitroNate.png"
                                  alt="Gallery image 2"
                              />
                          </picture>
                          </div>
                          <div class="characters-content">
                              <h3 class="characters-title">Nitro Nate</h3>
                              <p class="characters-text">
                                  A fearless speedster who thrives on risk and
                                  lives for the thrill of the crash.
                              </p>
                            </div>
                  </li>
                  <!--slider-2-->
                  <li class="swiper-slide characters-items background-items-2">
                          <div class="characters-image">
                            <picture>
                              <source
                                  srcset="/img/main-characters/characterBlazemob@2x.png 2x,
                                  /img/main-characters/characterBlazemob.png 1x
                                  "
                                  media="(max-width: 1199px)"
                              />
                              <source
                                  srcset="/img/main-characters/characterBlazedeck@2x.png 2x,
                                  /img/main-characters/characterBlazedeck.png 1x
                                  "
                              />
                              <img

                                  src="/img/main-characters/characterBlaze.png"



                                  alt="Gallery image 2"
                              />
                          </picture>

                          </div>
                          <div class="characters-content">
                              <h3 class="characters-title">Blaze</h3>
                              <p class="characters-text">
                                  A rebel racer known for her precision
                                  strikes and devastating drift shots.
                              </p>
                          </div>
                  </li>
                  <!--slider-3-->
                  <li class="swiper-slide characters-items background-items-3">
                          <div class="characters-image">
                            <picture>
                              <source
                                  srcset="/img/main-characters/characterSparksmob@2x.png 2x,
                                  /img/main-characters/characterSparksmob.png 1x
                                  "
                                  media="(max-width: 1199px)"
                              />
                              <source
                                  srcset="/img/main-characters/characterSparksdeck@2x.png 2x,
                                  /img/main-characters/characterSparksdeck.png 1x

                                  "
                              />
                              <img
                                  src="/img/main-characters/characterSparks.png"
                                  alt="Gallery image 2"
                              />
                          </picture>

                          </div>
                          <div class="characters-content">
                              <h3 class="characters-title">Sparks</h3>
                              <p class="characters-text">
                                  The tech-genius racer who uses gadgets and
                                  EMPs to disable enemy karts.
                              </p>
                          </div>
                  </li>
                  <!--slider-4-->
                  <li class="swiper-slide characters-items background-items-4">
                          <div class="characters-image">
                            <picture>
                              <source
                                  srcset="/img/main-characters/characterIronRodmob@2x.png 2x,
                                  /img/main-characters/characterIronRodmob.png
                                  "
                                  media="(max-width: 1199px)"
                              />
                              <source
                                  srcset="/img/main-characters/characterIronRoddeck@2x.png 2x,
                                  /img/main-characters/characterIronRoddeck.png 1x

                                  "
                              />
                              <img
                                  src="/img/main-characters/characterIronRod.png"
                                  alt="Gallery image 2"
                              />
                            </picture>
                          </div>
                          <div class="characters-content">
                              <h3 class="characters-title">Iron Rod</h3>
                              <p class="characters-text">
                                  A heavy-hitting tank driver who values power
                                  over speed.
                              </p>
                          </div>
                  </li>

            </ul>
              <div class="footnote">
                <div class="footnote-light">
                    <img
                        class="img-mobile"
                        src="/img/main-characters/light.png"
                        alt=""
                    />
                    <img
                        class="img-desktop"
                        class="light-big"
                        src="/img/main-characters/scopelight.png"
                        alt=""
                    />
                </div>
                <div class="footnote-car">
                    <img
                        src="/img/main-characters/car.png"
                        alt=""
                    />
                </div>
            </div>
          </div>

          <div class="characters-controls">
            <button type="button" class="left-rev-button" aria-label="Previous"></button>
            <button type="button" class="right-rev-button" aria-label="Next"></button>
        </div>
  </div>
</section>
