<section class="section section-characters">
    <div class="container container-characters">
        <h2 class="section-title section-title-characters">Main Characters</h2>
        <ul class="characters-list">
            <li class="characters-items background-items-1">
                <div class="characters-image">
                    <img
                        src="../images/decktop/characters/characterNitroNate.png"
                        alt=""
                    />
                </div>
                <div class="characters-content">
                    <h3 class="characters-title">Nitro Nate</h3>
                    <p class="characters-text">
                        A fearless speedster who thrives on risk and lives for
                        the thrill of the crash.
                    </p>
                </div>
                <div class="arrow">
                    <div class="arrow-1">
                        <img
                            src="../images/decktop/characters/arrowleft.png"
                            alt=""
                        />
                    </div>
                    <div class="arrow-2">
                        <img
                            src="../images/decktop/characters/arrow.png"
                            alt=""
                        />
                    </div>
                </div>
                <div class="footnote">
                    <div class="footnote-light">
                        <img
                            src="../images/decktop/characters/light.png"
                            alt=""
                        />
                    </div>
                    <div class="footnote-car">
                        <img
                            src="../images/decktop/characters/car.png"
                            alt=""
                        />
                    </div>
                </div>
            </li>
            <!-- <li class="characters-items background-items-2">
                <div class="characters-image">
                    <img
                        src="../images/decktop/characters/characterIronRod.png"
                        alt=""
                    />
                </div>
                <div class="characters-content">
                    <h3 class="characters-title">Iron Rod</h3>
                    <p class="characters-text">
                        A heavy-hitting tank driver who values power over speed.
                    </p>
                </div>
            </li>
            <li class="characters-items background-items-1">
                <div class="characters-image">
                    <img
                        src="../images/decktop/characters/characterSparks.png"
                        alt=""
                    />
                </div>
                <div class="characters-content">
                    <h3 class="characters-title">Sparks</h3>
                    <p class="characters-text">
                        The tech-genius racer who uses gadgets and EMPs to
                        disable enemy karts.
                    </p>
                </div>
            </li>
            <li class="characters-items background-items-1">
                <div class="characters-image">
                    <img
                        src="../images/decktop/characters/charactersBlaze.png"
                        alt=""
                    />
                </div>
                <div class="characters-content">
                    <h3 class="characters-title">Blaze</h3>
                    <p class="characters-text">
                        A rebel racer known for her precision strikes and
                        devastating drift shots.
                    </p>
                </div>
            </li> -->
        </ul>
    </div>
</section>
