<section id="reviews" class="section reviews-section">
    <div class="container">
        <h2 class="section-title section-title-reviews">Reviews</h2>
        <div class="swiper reviews-swiper">
            <ul class="swiper-wrapper reviews-list">
                <li class="swiper-slide reviews-items">
                    <p class="reviews-text">
                        Karts Battle is insane in the best way! Explosions,
                        drifts, and chaos — it’s everything I want in a racing
                        game.
                    </p>
                    <hr class="decor-line" />
                    <div class="review-author">
                        <img src="../img/reviews/photoChris.png" alt="Chris" />
                        <p>Chris R.</p>
                    </div>
                    <div class="some-decor">
                        <div class="decor-reviews">
                            <img
                                src="../img/reviews/rectanglebl.png"
                                alt="rectang"
                            />
                        </div>
                        <div class="decor-reviews-1">
                            <img
                                src="../img/reviews/rectanglebl.png"
                                alt="rectang"
                            />
                        </div>
                    </div>
                </li>
                <li class="swiper-slide reviews-items">
                    <p class="reviews-text">
                        I didn’t think kart racing could get this intense. Feels
                        like Mario Kart met Mad Max!
                    </p>
                    <hr class="decor-line" />
                    <div class="review-author">
                        <img src="../img/reviews/alex.png" alt="Alex" />
                        <p>Alex M.</p>
                    </div>
                    <div class="some-decor">
                        <div class="decor-reviews">
                            <img
                                src="../img/reviews/rectanglebl.png"
                                alt="rectang"
                            />
                        </div>
                        <div class="decor-reviews-1">
                            <img
                                src="../img/reviews/rectanglebl.png"
                                alt="rectang"
                            />
                        </div>
                    </div>
                </li>
                <li class="swiper-slide reviews-items">
                    <p class="reviews-text">
                        The customization is top-tier. I’ve got the coolest kart
                        ever and it actually performs well.
                    </p>
                    <hr class="decor-line" />
                    <div class="review-author">
                        <img src="../img/reviews/jessie.png" alt="Jessie" />
                        <p>Jessie L.</p>
                    </div>
                    <div class="some-decor">
                        <div class="decor-reviews">
                            <img
                                src="../img/reviews/rectanglebl.png"
                                alt="rectang"
                            />
                        </div>
                        <div class="decor-reviews-1">
                            <img
                                src="../img/reviews/rectanglebl.png"
                                alt="rectang"
                            />
                        </div>
                    </div>
                </li>
                <li class="swiper-slide reviews-items">
                    <p class="reviews-text">
                        Great game for short adrenaline bursts. Perfect when I
                        want something fun and fast-paced.
                    </p>
                    <hr class="decor-line" />
                    <div class="review-author">
                        <img src="../img/reviews/diego.png" alt="Diego" />
                        <p>Diego F.</p>
                    </div>
                    <div class="some-decor">
                        <div class="decor-reviews">
                            <img
                                src="../img/reviews/rectanglebl.png"
                                alt="rectang"
                            />
                        </div>
                        <div class="decor-reviews-1">
                            <img
                                src="../img/reviews/rectanglebl.png"
                                alt="rectang"
                            />
                        </div>
                    </div>
                </li>
            </ul>
            <div class="button-wrapper">
                <button
                    class="left-rev-btn"
                    type="button"
                    aria-label="Previous review"
                ></button>
                <button
                    class="right-rev-btn"
                    type="button"
                    aria-label="Next review"
                ></button>
            </div>
        </div>
    </div>
</section>
