body {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*min-width: 100vw;
    min-height: 100vh;*/
    margin: 0;
}
html {
    height: 100%;
    margin: 0;
}
main {
    flex-grow: 1;
}
.section {
    width: 320px;
    padding: 20px 0;
    margin: 0 auto;
    @include media(desktop) {
        padding: 40px 0;
        width: 1200px;
    }
}
.container {
    padding: 0 16px;
    @include media(desktop) {
        padding: 0 40px;
    }
}

.btn {
    font-family: inherit;
    border: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hide {
    display: none;
}
.section-title {
    font-size: 28px;
    line-height: 0.83;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #343333;
    display: inline-block;
    margin-bottom: 26px;
    @include media(desktop) {
        font-size: 60px;
    }
}
.section-title::before {
    content: '';
    display: inline-block;
    background-image: url(/img/title-decor.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 68px;
    height: 65px;
    vertical-align: middle;
    margin-right: -52px;
    margin-top: -5px;
    @include media(desktop) {
        background-image: url(/img/title-decor-desktop.png);
        width: 170px;
        height: 164px;
        margin-right: -116px;
        margin-top: -12px;
    }
}
