@import './base.scss';
@import './hero.scss';
@import './header.scss';
@import './benefits.scss';
@import './game-description.scss';
@import './key-features.scss';
@import './main-characters.scss';
@import './gallery.scss';
@import './reviews.scss';
@import './footer.scss';
@import './terms.scss';
@import './cookies.scss';

:root {
    font-family: 'Coiny', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;

    color: #1d1d1d;
    background-color: #ffc966;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
